/* Box Model Fix */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
}

hr {
  margin: 2%;
}

h3 {
  font-size: 25px;
  text-align: center;
  padding: 1%;
  font-family: "Syne Mono", monospace;
}

/* HEADER */

header {
  background-color: #07020d;
  color: #f4f4f6;
  top: 0px;
  position: static;
  padding: 2% 8% 1% 8%;
  font-family: "Syne Mono", monospace;
}

header h1 {
  font-size: 45px;
}

header navbar {
  background-color: #07020d;
  color: #f4f4f6;
  list-style: none;
  text-align: right;
}

header li {
  display: inline;
  padding: 0.5%;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: #f4f4f6;
}

header a:hover {
  color: #c9c9cf;
}

/* MAIN */

main {
  margin: 0 auto;
  width: 90%;
  padding: 2% 4%;
  font-family: "Montserrat", sans-serif;
}

/* ABOUT ME */

.main_about img {
  width: 75%;
  padding: 5%;
}

.main_about {
  display: grid;
  grid-template-columns: 5fr 4fr;
  align-items: center;
  justify-items: center;
}

.main_about h3 {
  grid-column: 1/5;
}

.main_about article {
  width: 50%;
}

/* SKILLS */

/* PORTFOLIO */

/* EDUCATION */

/* CERTIFICATES */

/* FOOTER */
footer {
  background-color: #07020d;
  color: #f4f4f6;
  padding: 2% 2% 2% 2%;
  font-family: "Syne Mono", monospace;
  font-size: 20px;
  text-align: center;
}

aside button {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

@media (max-width: 600px) {
}

@media (max-width: 600px) {
}
