/* Box Model Fix */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
}

hr {
  margin: 2%;
}

h3 {
  font-size: 25px;
  text-align: center;
  padding: 1%;
  font-family: "Syne Mono", monospace;
}

/* HEADER */

header {
  background-color: #07020d;
  color: #f4f4f6;
  top: 0px;
  position: static;
  padding: 2% 8% 1% 8%;
  font-family: "Syne Mono", monospace;
}

header h1 {
  font-size: 45px;
}

header navbar {
  background-color: #07020d;
  color: #f4f4f6;
  list-style: none;
  text-align: right;
}

header li {
  display: inline;
  padding: 0.5%;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: #f4f4f6;
}

header a:hover {
  color: #f873e2;
  transition: 0.5s;
}

/* MAIN */

main {
  margin: 0 auto;
  width: 90%;
  padding: 2% 4%;
  font-family: "Montserrat", sans-serif;
  color: #07020d;
}

/* ABOUT ME */

.about img {
  width: 75%;
  padding: 5%;
}

.about {
  display: grid;
  grid-template-columns: 5fr 4fr;
  align-items: center;
  justify-items: center;
}

.about h3 {
  grid-column: 1/5;
  margin-bottom: 5%;
}

.about article {
  width: 70%;
  text-align: justify;
  text-indent: 5%;
}

/* SKILLS */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h3 {
  grid-row: 1/2;
  margin-bottom: 1%;
}

.skills div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2%;
}

.skills img {
  width: 12%;
}

/* PORTFOLIO */
.portfolio {
  margin-bottom: 4%;
}

.portfolio p {
  text-align: center;
  margin-bottom: 3%;
}

.portfolio .carousel-cell {
  width: 66vw;
  margin-right: 40px;
  counter-increment: gallery-cell;
  padding-bottom: 20px;
}

.portfolio .carousel-cell img {
  width: 66vw;
  height: max-content;
  border-radius: 15px;
  border: 1px rgb(216, 216, 216) solid;
}

/* EDUCATION */

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  justify-items: center;
  row-gap: 50px;
}

.education h3 {
  grid-column: 1/3;
}

.education img {
  width: 70%;
}

.education article {
  width:60%;
}

/* CERTIFICATES */

.certificates {
  margin-bottom: 4%;
}

.certificates h3 {
  margin-bottom: 1%;
}

.certificates .carousel-cell {
  width: 500px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  padding-bottom: 20px;
}

.certificates .carousel-cell img {
  width: 500px;
  height: max-content;
}

/* LINKS */

.links h3 {
  margin-bottom: 1%;
}

.links ul {
  list-style: none;
  padding: 0;
}
.links li {
  margin: 0 auto;
  width: 20%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.links li:hover a {
  font-size: larger;
  transition: 0.5s;
  color: #f873e2;
}

.links li:hover img {
  transition: 0.5s;
}

.links li img {
  width: 30px;
  position: relative;
  transition: 1s;
}

.links li a {
  text-decoration: none;
  grid-column: 2/3;
  color: #07020d;
}

.links li:nth-of-type(2n):hover img {
  margin-left: 20px;
}

.links li:nth-of-type(2n + 1):hover img {
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-color: #07020d;
  color: #f4f4f6;
  padding: 2% 2% 2% 2%;
  font-family: "Syne Mono", monospace;
  font-size: 20px;
  text-align: center;
}

aside button {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

@media (max-width: 1023px) {

h3 {
    font-size: 20px;
}

  /* HEADER */

header {
  padding: 2% 4% 1% 4%;
}

header h1 {
  font-size: 24px;
}

header h2 {
  font-size: 15px;
}

header li {
  font-size: 15px;
}

/* MAIN */

main {
  width: 95%;
  padding: 2% 2%;
}

/* ABOUT ME */

.about img {
  width: 75%;
  padding: 5%;
}

.about article {
  width: 80%;
  font-size: 12px;
}

/* PORTFOLIO */

.portfolio {
  margin-bottom: 6%;
}

/* EDUCATION */

.education {
  row-gap: 30px;
}

.education img {
  width: 80%;
}

.education article {
  width:70%;
  font-size: 14px;
}

/* CERTIFICATES */

.certificates {
  margin-bottom: 6%;
}

.certificates .carousel-cell {
  width: 300px;
}

.certificates .carousel-cell img {
  width: 300px;
}

aside button {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

/* CONTACTS */

.links li {
  width: 25%;
}

}

@media (max-width: 600px) {
  h3 {
    font-size: 20px;
}

  /* HEADER */

header {
  padding: 3% 6% 3% 8%;
}

header ul {
  display: none;
}

/* MAIN */

main {
  width: 95%;
  padding: 2% 2%;
}

/* ABOUT ME */

.about img {
  width: 75%;
  padding: 5%;
}

.about article {
  width: 80%;
  font-size: 12px;
}

/* PORTFOLIO */
.portfolio {
  margin-bottom: 10%;
}

/* EDUCATION */

.education {
  display: flex;
  flex-direction: column;
}

.education {
  row-gap: 30px;
}

.education article:last-of-type {
  order: 1;
}


/* CERTIFICATES */

.certificates {
  margin-bottom: 10%;
}

.certificates .carousel-cell {
  width: 300px;
}

.certificates .carousel-cell img {
  width: 300px;
}

/* CONTACTS */

.links li {
  width: 40%;
}

aside button {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
}
